<!DOCTYPE html>
<html>
<head>
    <title>Student Grades</title>
</head>
<body>
    <h1>Grades Information</h1>
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Total Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.total_grade }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
